.wouldbetower {
-fx-pref-width:30;
-fx-pref-height: 30;
-fx-background-radius: 15;
-fx-background-color: rgba(0,0,0,0);
-fx-border-color: rgba(255,255,255,0.5);
-fx-border-radius: 15;
}
.wouldbetower:hover {
-fx-background-color: rgba(255,255,255,0.5);
}
.wouldbetower:armed {
-fx-background-color: rgba(255,255,255,0.8);
}
#towerField {
-fx-background-color: #333;
-fx-padding: 10;
-fx-background-radius: 15;
}

.tower {
 -fx-pref-width:30;
 -fx-pref-height: 30;
 -fx-background-radius: 15;
 -fx-border-color: rgba(255,255,255,0.5);
 -fx-border-radius: 15;
 }

 .redbutton {
  -fx-pref-width:30;
  -fx-pref-height: 30;
  -fx-background-radius: 15;
  -fx-border-color: rgba(255,255,255,0.5);
  -fx-background-color: red;
  -fx-border-radius: 15;
 }
 .bluebutton {
-fx-pref-width:30;
-fx-pref-height: 30;
-fx-background-radius: 15;
-fx-border-color: rgba(255,255,255,0.5);
-fx-background-color: aqua;
-fx-border-radius: 15;
}
.greenbutton {
 -fx-pref-width:30;
 -fx-pref-height: 30;
 -fx-background-radius: 15;
 -fx-border-color: rgba(255,255,255,0.5);
 -fx-background-color: green;
 -fx-border-radius: 15;
 }
   .thickmob {
   -fx-border:3;
   -fx-border-color:black;
   }
   .ragemeter {
   -fx-fill:red;
   -fx-border-color:black;
   -fx-border-width:3;
   -fx-border-radius:3;
   }
   .ragemeterlabel{
   -fx-font-size:40;
   -fx-text-fill:white;
   }
   .moneylabel {
   -fx-font-size:40;
    -fx-text-fill:yellow;
    }
   .HPBar {
   -fx-fill:green;
   -fx-border-color:black;
   -fx-border-width:3;
   -fx-border-radius:3;
   }
      .gameoverlabel{
      -fx-font-size:60;
      -fx-text-fill:white;
      }

      .rootpane {
      -fx-background-color: #222;
      }
.ragebutton{
-fx-background-color:#555;
-fx-font-size:20;
-fx-text-fill:white;
}
.ragebutton:armed{
-fx-background-color:#444;}