.wouldbetower {
-fx-pref-width:30;
-fx-pref-height: 30;
-fx-background-radius: 15;
-fx-background-color: rgba(0,0,0,0);
-fx-border-color: rgba(255,255,255,0.5);
-fx-border-radius: 15;
}
.wouldbetower:hover {
-fx-background-color: rgba(255,255,255,0.5);
}
.wouldbetower:armed {
-fx-background-color: rgba(255,255,255,0.8);
}
#towerField {
-fx-background-color: #aaa;
-fx-padding: 10;
-fx-background-radius: 15;
}